ColorUtility.TryParseHtmlString("$"COLOR"", out color);
Tabs[$"PAGEINDEX"].AddItems(
    new OpCheckBox($"CONFIGURABLE", new Vector2($"X"f, $"Y"f))
    {
        colorEdge = color,
        description = $"CONFIGURABLE".info.description
    }
);