OpKeyBinder $"NAME" = new OpKeyBinder($"CONFIGURABLE", new Vector2($"X"f, $"Y"f), new Vector2($"WIDTH"f, $"HEIGHT"f));
ColorUtility.TryParseHtmlString("$"COLOR"", out Color $"NAME"Color);
$"NAME".colorEdge = $"NAME"Color;
$"NAME".description = $"CONFIGURABLE".info.description;

Tabs[$"PAGEINDEX"].AddItems($"NAME");