ColorUtility.TryParseHtmlString("$"COLOR"", out color);
Tabs[$"PAGEINDEX"].AddItems(
    new OpLabel(new Vector2($"X"f, $"Y"f), new Vector2($"WIDTH"f, $"HEIGHT"f), "$"TEXT"", FLabelAlignment.$"ALIGNMENT", $"BIGTEXT", null)
    {
        color = color
    }
);