ColorUtility.TryParseHtmlString("$"COLOR"", out color);
Tabs[$"PAGEINDEX"].AddItems(
    new OpRect(new Vector2($"X"f, $"Y"f), new Vector2($"WIDTH"f, $"HEIGHT"f))
    {
        colorEdge = color
    }
);