ColorUtility.TryParseHtmlString("$"COLOR"", out color);
Tabs[$"PAGEINDEX"].AddItems(
    new OpUpdown($"CONFIGURABLE", new Vector2($"X"f, $"Y"f), $"WIDTH")
    {
        colorEdge = color,
        description = $"CONFIGURABLE".info.description
    }
);