.top-centered {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 0 0 10px 10px;
    gap: 15px;
}

.contact-link {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1a1a1a;
}

.contact-link:hover {
    color: #131313;
}

.contact-icon {
    font-size: 25px;
}
